@media(max-width: 1156px){
    .services_items{
        display: block;
    }
    .services_item{
        max-width: 80%;
        min-height: 330px;
        margin: 30px auto;
    }
    .form_inner{
        background-image: none;
    }
    .news_inner{
        display: block;
    }
    .news_slider{
        max-width: 100%;
        margin-bottom: 90px;
    }
    .news_blog{
        max-width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .news_blog:after{
        content: "";
        clear: both;
        display: block;
    }
    .news_img{
        float: left;
        margin-right: 50px;
    }
    .news{
        padding-bottom: 60px;
    }
}
@media(max-width: 1050px){
    .footer_inner{
        display: block;
    }
    .footer_map{
        max-width: 100%;
    }
    .footer_info{
        max-width: 464px;
        margin-bottom: 25px;
    }
}
@media(max-width: 900px){
    .slider .slick-btn{
        display: none !important;
    }
    .services_top,
    .news_top{
        display: block;
    }
    .services_title-box,
    .form_title-box,
    .news_title-box{
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .services_title-box:before,
    .form_title-box:before,
    .news_title-box:before{
        display: none;
    }
    .services_btn,
    .news_btn{
        text-align: center;
    }
    .form{
        margin-bottom: 25px;
    }
    .form_box-inner{
        display: block;
    }
    .form_box-right{
        max-width: 100%;
    }
    .form_box-left{
        max-width: 100%;
    }
    .advantages_inner{
        display: block;
    }
    .advantages_item{
        max-width: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width: 700px){
    .header_btn{
        float: none;
    }
    .header_contacts{
        text-align: center;
    }
    .header_btn:before,
    .news_title:before{
        display: none;
    }
    .footer_info .header_btn:before{
        display: block;
    }
    .menu .header_btn-menu{
        display: block !important; 
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .menu li{
        display: block;
        text-align: center;
    }
    .menu a{
        display: block;
        background-color: #ffc222;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    menu li+li{
        padding-left: 0;
    }
}
@media(max-width: 600px){
    .services_item{
        max-width: 100%;
        min-height: 375px;
        margin: 30px auto;
    }
}
@media(max-width: 540px){
    .news_slider{
        padding: 50px 15px 25px 25px;
    }
    .news_slider:before{
        left: 25px;
    }
    .news_slider-inner .slick-next{
        right: -20px;
    }
    .news_slider-inner .slick-prev{
        right: 35px;
    }
    .news_slider-inner .slick-btn{
    bottom: -90px;
    }
    .news_img{
        float: none;
    }
}
@media(max-width: 414px){
    .slider_title{
        font-size: 24px;
    }
}
@media(max-width: 400px){
    .header_btn:before,
    .news_title:before{
        display: block;
    }
    .advantages_item{
        padding: 0;
    }
    .about_inner{
        margin-bottom: 30px;
    }

}
@media(max-width: 375px){
    .header_email{
        padding-right: 30px;
    }
}
@media(min-width: 700px){
    .menu ul{
        display: block !important;
    }
}
